function toLower(str){
  return str.toLowerCase()
}
function formatPhone(phone){
  if (phone.length !==11) return phone
  var arr = phone.split("")
  arr.splice(3,0,'-')
  arr.splice(8,0,'-')
  return arr.join("")
}
function currentdate(){
  var date = getDate();
  month = date.getMonth()+1;
  return date.getFullYear() + '-' + month + '-' + date.getDate() +'  '+ date.getHours() + ':' +date.getMinutes()
}
function limitchar(str){
  console.log(str)
  if (typeof(str)=='undefined') return
  if (str.length>3) {
    return str.substring(0,3)+ '...';
  }
  return str
}
function limitname(str){
  console.log(str)
  if (typeof(str)=='undefined') return
  if (str.length>8) {
    return str.substring(0,8)+ '...';
  }
  return str
}
function calculate_time(time){
  if (time == undefined) {return 0}
  
  if (time > 3600){
    var hour = Math.floor(time / 3600)
   
    var minute = Math.floor((time - hour*3600) / 60) 
    return  hour + ' 小时 ' + minute + ' 分钟'
  }else if(time > 60){
    return  Math.floor(time / 60) + ' 分钟'
  }else{
    return '1 分钟'
  }
}

function calculate_distance(distance){
  if (distance == undefined) {return 0}
  if (distance < 1000) {return distance + ' 米'}
  return (distance / 1000).toFixed(1) + ' 公里'
}
function trim(str){
  return str.replace(getRegExp('\s*','g'),"")
}
function classify(num){
  switch (num) {
    case 1:
      return 'railway';
      break
    case 3:
      return 'busline'
      break;
    case 5:
      return 'walking'
    default:
      return 'walking'
      break;
  }
}
function seperate_addredss(address){
  if (address == undefined) {return []}
  return address.split(';')
}
function seperate_station(station){
  if (station== undefined) {return ''}  
  return station.split('-')[0]
}
function ifworking(start,end){
  if(start == undefined || end == undefined){
    return 
  }
  var date = getDate()
  var hour = date.getHours()
  var minute = date.getMinutes()
  if (hour < parseInt(start.split(':')[0])){
    return false
  }else if (hour == parseInt(start.split(':')[0]) && minute < parseInt(start.split(':')[1])){
    return false
  }
  if (hour > parseInt(end.split(':')[0])){
    return false
  }else if (hour == parseInt(end.split(':')[0]) && minute > parseInt(end.split(':')[1])){
    return false
  }
  return true
}
function formatTime(date) {
  if (date == undefined) {
    return 
  }
  var date = getDate(date)
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()
  var hour = date.getHours()
  var minute = date.getMinutes()
  var second = date.getSeconds()

  return year + '-' + month + '-' + day +'  ' + hour +':' + minute + ':' + second
}
function echo(param){
  console.log(param)
  return param
}

module.exports = {
  toLower: toLower,
  formatPhone:formatPhone,
  currentdate:currentdate,
  limitchar:limitchar,
  limitname:limitname,
  calculate_time:calculate_time,
  calculate_distance:calculate_distance,
  classify:classify,
  echo:echo,
  trim:trim,
  seperate_addredss:seperate_addredss,
  seperate_station:seperate_station,
  ifworking:ifworking,
  formatTime:formatTime
}